{
    "output": "daemon.phar",
    "directories": [
        "src",
        "vendor"
    ],
    "files": [
        "version.txt"
    ],
    "main": "src/daemon.php",
    "check-requirements": false,
    "chmod": "0755",
    "stub": true
}
