{
    "output": "daemon.phar",
    "timestamp": "2025-01-01T00:00:00+00:00",
    "dump-autoload": false,
    "directories": [
        "src",
        "vendor"
    ],
    "files": [
        "version.txt"
    ],
    "main": "src/daemon.php",
    "check-requirements": false,
    "chmod": "0755",
    "stub": true
}
