{
    "output": "daemon.phar",
    "alias": "flare-daemon.phar",
    "timestamp": "2025-01-01T00:00:00+00:00",
    "dump-autoload": false,
    "finder": [
        {
            "in": [
                "src",
                "vendor"
            ],
            "sortByName": true
        }
    ],
    "files": [
        "version.txt"
    ],
    "main": "src/daemon.php",
    "check-requirements": false,
    "chmod": "0755",
    "stub": true
}
